django

django-environ

# Images
Pillow

# Password storage
argon2-cffi

# For user registration, either via email or social
django-allauth

# Python-PostgreSQL Database Adapter
psycopg2

# Redis support
django-redis
redis

{% if cookiecutter.use_celery == "y" %}
celery
{% endif %}

django-debug-toolbar

# WSGI Handler
gunicorn

# Static and Media Storage
{% if cookiecutter.use_s3 == "y" %}
boto
django-storages
django-s3-collectstatic
{% endif %}

{% if cookiecutter.use_sentry_for_error_reporting == "y" %}
# Raven is the Sentry client
raven
{% endif %}
