DEBUG=True
SECRET_KEY="secret"
ALLOWED_HOSTS={{ cookiecutter.domain_name }}

DATABASE_URL="psql://{{ cookiecutter.project_slug }}:{{ cookiecutter.project_slug }}@127.0.0.1:5432/{{ cookiecutter.project_slug }}"

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#AWS_BUCKET=
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=

{% if cookiecutter.use_sentry == 'y' %}
RAVEN_DNS=
{% endif %}
