DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

DJANGO_SETTINGS_MODULE={{ cookiecutter.project_slug }}.settings.production
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS={{ cookiecutter.domain_name }}

AWS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

{% if cookiecutter.use_sentry_for_error_reporting == 'y' -%}
DJANGO_SENTRY_DSN=
{% endif %}
